* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: whitesmoke;

  /* margin: 20px; */
}
.header-contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  h1 {
    font-size: 2rem;
    color: rgb(84, 84, 220);
    text-transform: capitalize;
  }
  div {
    span {
      font-size: 0.8rem;
      color: black;
      cursor: pointer;
    }
    .create {
      color: blue;
      font-size: 20px;
    }
    input {
      width: 600px;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 10px;
      font-size: 0.9rem;
    }
  }
  button {
    border: 2px solid #ccc;
    background-color: blue;
    width: 70px;
    height: 50px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .buttons {
    button {
      i {
        font-size: 30px;
      }
    }
  }
}
/*###################################################################### */
.title {
  padding: 5%;
  text-align: left;
  margin-left: 100px;
  color: rgb(78, 78, 74);
  .flash-cards {
    span {
      a {
        text-decoration: none;
        color: black;
        text-transform: capitalize;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    div {
      padding: 20px;
      button {
        padding: 50px, 20px;
        border-radius: 5px;
        border: 2px solid #ccc;
        cursor: pointer;
      }
    }
  }
  .sub-title {
    display: block;
    h1 {
      font-size: 40px;
      color: black;
    }
    p {
      font-size: medium;
      font-weight: 100;
    }
  }
}
/* ################################################################# */
.supporter-material {
  margin-left: 10%;
  .supporter-contaner {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 0.8fr 0.8fr;
    grid-gap: 20px;
    div {
      width: 250px;
      height: 80px;
      color: black;
      background-color: #dde1e8;
      align-items: center;
      text-align: center;
      font-size: xx-large;
      cursor: pointer;
      .block,
      .learn,
      .match,
      .test,
      .flashcaed {
        background-color: #e6e6ec;
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
      }
    }
  }
}
/* ########################################################### */
.cards {
  margin-left: 15%;

  .card-contaner {
    width: 60%;
    height: 85vh;
    background-color: white;
    border-radius: 5px;
    /* padding: 15px; */
    .card-wriper {
      .card-text {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        .left-text {
          cursor: pointer;
        }
        .right-text {
          cursor: pointer;
          button {
            background-color: transparent;
            border: none;
            color: black;
            font-size: 15px;
            cursor: pointer;
            padding-right: 20px;
            cursor: pointer;
          }
        }
      }
      .chemiical-name {
        width: 75%;
        height: 40vh;
        margin: 5% 10%;
        background-color: gold;
      }
    }
    .icones-contaner {
      display: flex;
      justify-content: space-between;
      background-color: rgb(255, 255, 255);
      padding: 50px 25px 30px;
      border-bottom: #6f6c6c;
      margin-top: 0;
      border-radius: 0px 0px 20px 20px;
      position: relative;
      box-shadow: 8px 10px 30px rgba(0, 0, 0, 0.15);
      .laft-icone {
        button {
          text-align: left;
          padding: 15px;
          cursor: pointer;
          border-radius: 100%;

          i {
            padding-left: 7px;
            margin: 5px;
            text-align: center;
          }
        }
      }
      .movement-conterolerr {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
        button {
          padding: 0px 14px;
          border-radius: 100%;
          margin-left: 10px;
          margin-right: 5px;
          cursor: pointer;
        }
      }
      .right-icone {
        button {
          padding: 20px 16px;
          cursor: pointer;
          i {
            text-align: center;
          }
        }
      }
    }
    .larg-button {
      button {
        width: 100%;
        height: 50px;
        background-color: blue;
        border-color: transparent;
        color: white;
        margin-top: 15px;
        font-size: 24px;
        cursor: pointe;
        border-radius: 5px 5px 5px 5px;
        border: bottom style 20px;
      }
    }
  }
}
/* #################################################################### */

.logo-icone {
  display: block;
  margin: 10px 0 0 10%;

  button {
    padding: 40px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 30px;
  }
  sub {
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    color: #6f6c6c;
  }
  pre {
    text-align: center;
    justify-content: space-between;
    display: flex;
    color: black;
    font-size: 20px;
    span {
     padding-left: 10px;
    }
  }
}

/* ################################################################### */
.scrole-card-contaner {
  .scrole-card-titel {
    margin: 10px 10% 10% 10%;
    background-color: rgb(217, 215, 215);
    padding: 10vh;
    border-radius: 20px;
    .scrole-contener {
      gap: 20px;
      .scrole-card-linle {
        display: flex;

        a {
          text-align: left;
          text-decoration: none;
          color: black;
          font-size: 20px;
          padding: 10px;
          justify-content: space-between;
          border-color: #6f6c6c;
        }
      }

      .card-container {
        display: flex;
        overflow-x: auto;
        padding: 20px;
        gap: 16px;
        scroll-snap-type: x mandatory;
      }

      .card-container::-webkit-scrollbar {
        height: 10px;
      }

      .card-container::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
      }

      .card {
        min-width: 300px;
        height: 200px;
        background: linear-gradient(to bottom right, #f2f2f3, #ebf8e1);
        border-radius: 16px;
        padding: 20px;
        flex-shrink: 0;
        scroll-snap-align: start;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
/* ######################################################### */
.peractes-question{
  .question-contener{
    .question-icone{
      span{

      }
      button{
        
      }

    }
  }
}

/* ######################################################### */
.chemical-contener {
  .element-termes {
    h1 {
      text-align: left;
      padding-left: 10%;
    }
  }
  .element-term-container {
    width: 60%;
    height: 493vh;
    margin: 8%;
    background-color: rgb(238, 238, 238);
    padding: 1vh 0vh;
    border-radius: 20px;

    text-align: center;
    align-items: center;
    .element {
      display: grid;
      grid-template-columns: 5fr;
      grid-gap: 2%;
      background-color: #fff;
      padding: 2vh 30vh;
      margin: 2%;
      border-radius: 5px;
      .contant {
        width: 5%;
        display: flex;
        justify-content: start;
        h3 {
          padding-left: 0px;
          font-size: 20px;
          color: rgb(18, 17, 17);
          text-align: left;
          align-items: center;
        }
        .vertical {
          border-left: 2px solid rgb(48, 47, 47);
          height: 150px;
        }
        img {
          width: 100px;
          height: 100px;
          margin-left: 20px;
          border-radius: 50%;
        }
      }
    }
  }
}
/* ############################################################ */
footer {
  background-color: #e6e6ec;
  padding: 20px;
  .page-contant {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 20;
    }
    ul {
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  /* **************************************** */
  .country-wriper {
    margin: 20px;

    h1 {
      font-size: 35;
      margin-left: 10;
      font-weight: 100;
      color: #6f6c6c;
    }

    div {
      ul {
        display: flex;
        justify-content: space-between;
        li {
          list-style: none;

          align-items: center;
          text-align: center;
          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
  /**************************************************** */
  .contact {
    .socal-mediay {
      ul {
        margin-left: 10%;
        margin-right: 20%;
        display: flex;
        align-items: start;
        text-align: left;
        li {
          list-style: none;

          a {
            text-decoration: none;
            i {
              font-size: 20px;
              color: rgb(151, 149, 149);
              margin-left: 5px;
              padding: 15px;
            }
          }
        }
      }
    }

    p {
      text-align: left;
      font-size: x-large;
      font-weight: 200;
      padding: 30px;
    }
  }
}
